<div class="container">
  <!-- 背景图片 -->
  <img src="../../../assets/images/change-password/password-bg.jpg" class="fl_bg" alt="背景图">
  <div class="username">
    <p class="p">请确认您现在的账户为：<label><b>lalalalal</b></label></p>
  </div>
  <div class="Password-box">
    <div calss="password">
      <input id="password" type="password" placeholder="请输入原密码"  pPassword />
    </div>
    <div class="newpassword">
      <input id="newpassword" type="password" placeholder="请设置新密码"  pPassword />
    </div>
    <div class="mod-form-block">
      <input id="newagainpassword" type="password" placeholder="请再次确认新密码"  pPassword />
    </div>
    <button id="login" type="submit">确定提交</button>
  </div>
</div>