<div class="ui-inputgroup">
    <input type="text" pInputText placeholder="请输入关键字" [(ngModel)]="Keyword">
    <button pButton type="button" icon="fa fa-superpowers" class="ui-button-warn" (click)="getInquire()"></button>
</div>
<p-dataTable [value]="dataList" selectionMode="multiple" emptyMessage="暂无数据">
    <p-column field="" header="序号" [style]="{'width':'50px','height':'30px'}">
        <ng-template let-col let-data="rowData" let-ri="rowIndex" pTemplate="body">
            <!-- <span>{{ri+1+(page.curPage-1)*page.pageSize}}</span> -->
            <span>{{ri+1}}</span>
        </ng-template>
    </p-column>
    <p-column field="viewname" header="景点名称"></p-column>
    <p-column field="price" header="票价"></p-column>
    <p-column field="place" header="景点地点"></p-column>
    <p-column field="introduce" header="景点介绍"></p-column>
    <p-column header="操作">
        <ng-template let-col let-data="rowData" let-ri="rowIndex" pTemplate="body">
            <span (click)="delView(data.id)">删除</span>
            <span (click)="change(data)">修改</span>
            <!-- <button pButton type="button" label="删除"  style="margin-right: .25em" (click)="delUser(data.id)" ></button>
            <button pButton type="button" label="修改"  class="ui-button-secondary" (click)="editData(data)" ></button>
            <button pButton type="button" label="添加"  style="margin-right: .25em" ></button> -->
        </ng-template>
    </p-column>
</p-dataTable> 
<p-paginator [rows]="page.pageSize" [totalRecords]="page.totalNum" (onPageChange)="paginate($event)"></p-paginator>

<!-- 编辑弹窗 -->
<div>
    <p-dialog [(visible)]="display" width="400">
      <p-header>
        修改景点信息
      </p-header>
      <div class="fl_contentM">
            <div class="fl_low">
                    <label for="float-input">景点名称</label>
                    <input id="float-input" type="text" size="30"  [(ngModel)]="change1.viewname"  disabled=true  pInputText>
                </div>
        <div class="fl_low">
            <label for="float-input">票价</label>
            <input id="float-input" type="text" size="30"  [(ngModel)]="change1.price"   pInputText>
        </div>
        <div class="fl_low">
                <label for="float-input">地点</label>
                <input id="float-input" type="text" size="30"  [(ngModel)]="change1.place"  disabled=true  pInputText>
            </div>
        <div class="fl_low">
            <label for="float-input">景点介绍</label>
            <input id="float-input" type="text" size="30" [(ngModel)]="change1.introduce" pInputText>
        </div>
      </div>
      <p-footer>
        <p-button class="fl_cancel" (click)="htt()" label="取消"></p-button>
        <p-button (click)="sure()" label="确认"></p-button>
  
      </p-footer>
    </p-dialog>
  </div>
<!-- <table width="90%" class="table">
  <tr>
    <th>景点名称</th>
    <th>景点票价</th>
    <th>景点地点</th>
    <th>景点介绍</th>
    <th>操作</th>
  </tr>
  <tr>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>
        <button class="button">点击修改信息</button>
    </td>
  </tr>
  <tr class="alter">
    <td>2</td>
    <td>2</td>
    <td>2</td>
    <td>2</td>
    <td>
        <button class="button">点击修改信息</button>
    </td>
  </tr>
  <tr>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>
        <button class="button">点击修改信息</button>
    </td>
  </tr>
  <tr>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>
        <button class="button">点击修改信息</button>
    </td>
  </tr>
  <tr>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>
        <button class="button">点击修改信息</button>
    </td>
  </tr>
  <tr>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>
      <button class="button">点击修改信息</button>
      
    </td>
  </tr>
</table>
<ul class="con">
    <li>
    <a href="">上一页</a>
    </li>
    <li><a href="">1</a></li>
    <li><a href="">2</a></li>
    <li><span>...</span></li>
    
    
    
    
    <li><a href="">下一页</a></li>
    </ul>
<div class="add">
    <p>新增景点信息</p>
</div>
    <table class="table1" cellspacing="0" summary="The technical specifications of the Apple PowerMac G5 series"> 
        <tr> 
        <th class="spec">景点名称</th> 
        <th>景点票价</th> 
        <th>景点地点</th> 
        <th>景点介绍</th>
        <th>添加景点信息</th> 
        </tr> 
        <tr> 
        <td class="spec">1
            <input type="text">
        </td> 
        <td>1
            <input type="text">
        </td> 
        <td class="alt">1
            <input type="text">
        </td> 
        <td>1
            <input type="text">
        </td>
        <td class="space">
            <button>添加 景点</button>
        </td> 
        </tr> 
       
        </table>  -->