<table width="90%" class="table">
  <tr>
    <th>景点名称</th>
    <th>景点票价</th>
    <th>景点地点</th>
    <th>景点介绍</th>
    <th>操作</th>
  </tr>
  <tr>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>
        <button class="button">点击修改信息</button>
    </td>
  </tr>
  <tr class="alter">
    <td>2</td>
    <td>2</td>
    <td>2</td>
    <td>2</td>
    <td>
        <button class="button">点击修改信息</button>
    </td>
  </tr>
  <tr>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>
        <button class="button">点击修改信息</button>
    </td>
  </tr>
  <tr>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>
        <button class="button">点击修改信息</button>
    </td>
  </tr>
  <tr>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>
        <button class="button">点击修改信息</button>
    </td>
  </tr>
  <tr>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>
      <button class="button">点击修改信息</button>
      
    </td>
  </tr>
</table>
<ul class="con">
    <li>
    <a href="">上一页</a>
    </li>
    <li><a href="">1</a></li>
    <li><a href="">2</a></li>
    <li><span>...</span></li>
    
    
    
    
    <li><a href="">下一页</a></li>
    </ul>
<div class="add">
    <p>新增景点信息</p>
</div>
    <table class="table1" cellspacing="0" summary="The technical specifications of the Apple PowerMac G5 series"> 
        <tr> 
        <th class="spec">景点名称</th> 
        <th>景点票价</th> 
        <th>景点地点</th> 
        <th>景点介绍</th>
        <th>添加景点信息</th> 
        </tr> 
        <tr> 
        <td class="spec">1
            <input type="text">
        </td> 
        <td>1
            <input type="text">
        </td> 
        <td class="alt">1
            <input type="text">
        </td> 
        <td>1
            <input type="text">
        </td>
        <td class="space">
            <button>添加 景点</button>
        </td> 
        </tr> 
       
        </table> 

