<div class="ui-inputgroup">
  <input type="text" pInputText placeholder="输入景点" [(ngModel)]="Keyword">
  <button pButton type="button" icon="fa fa-superpowers" class="ui-button-warn" (click)="getInquire()"></button>
</div>
<!-- <table width="90%" class="table">
  <tr>
    <th>景点名称</th>
    <th>周边景点1</th>
    <th>周边景点2</th>
    <th>周边景点3</th>
    <th>操作</th>
  </tr>
  <tr>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>
      <button class="green button">修改</button>
      <button>删除</button>
    </td>
  </tr>
  <tr class="alter">
    <td>2</td>
    <td>2</td>
    <td>2</td>
    <td>2</td>
    <td>2</td>
  </tr>
  <tr >
    <td>2</td>
    <td>2</td>
    <td>2</td>
    <td>2</td>
    <td>2</td>
  </tr>
  <tr class="alter">
    <td>2</td>
    <td>2</td>
    <td>2</td>
    <td>2</td>
    <td>2</td>
  </tr>
  <tr >
    <td>
      <input type="text"> 
    </td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td>
    <button>添加</button>
    </td>
  </tr>
</table> -->


<!-- 数据列表 -->
<p-dataTable [value]="dataList" selectionMode="multiple" emptyMessage="暂无数据">
  <p-column field="" header="序号" [style]="{'width':'50px','height':'30px'}">
    <ng-template let-col let-data="rowData" let-ri="rowIndex" pTemplate="body">
      <!-- <span>{{ri+1+(page.curPage-1)*page.pageSize}}</span> -->
      <span>{{ri+1}}</span>
    </ng-template>
  </p-column>
  <p-column field="viewname" header="景点名称"></p-column>
  <p-column field="Hotel" header="酒店信息"></p-column>
  <p-column field="specialty" header="当地特产"></p-column>
  
  <p-column header="操作">
    <ng-template let-col let-data="rowData" let-ri="rowIndex" pTemplate="body">
      
      <button pButton type="button" label="删除"  style="margin-right: .25em" (click)="delRoute(data.id)" ></button>
      <button pButton type="button" label="修改"  class="ui-button-secondary" (click)="routeData(data)" ></button>
      <button pButton type="button" label="添加"  style="margin-right: .25em" (click)="addRoute(data)"></button>
      <!-- <button pButton type="button" label="删除"  style="margin-right: .25em" (click)="delUser(data.id)" ></button>
      <button pButton type="button" label="修改"  class="ui-button-secondary" (click)="editData(data)" ></button>
      <button pButton type="button" label="添加"  style="margin-right: .25em" ></button> -->
      <!-- <span (click)="aa()">修改</span> -->
    </ng-template>
  </p-column>
</p-dataTable>

<!-- 分页 -->
<p-paginator [rows]="page.pageSize" [totalRecords]="page.totalNum" (onPageChange)="paginate($event)"></p-paginator>
<!-- 编辑弹窗 -->
<div>
  <p-dialog [(visible)]="display" width="400">
    <p-header>
      增加周边信息
    </p-header>
    <div class="fl_contentM">
        <div class="fl_low">
            <label for="float-input">景点名称</label>
            <input id="float-input" type="text" size="30"  [(ngModel)]="addRoute1.viewname"  pInputText>
        </div>
        
      <div class="fl_low">
          <label for="float-input">酒店信息</label>
          <input id="float-input" type="text" size="30"  [(ngModel)]="addRoute1.Hotel"   pInputText>
      </div>
      
      <div class="fl_low">
          <label for="float-input">当地特产</label>
          <input id="float-input" type="text" size="30" [(ngModel)]="addRoute1.specialty" pInputText>
      </div>
    </div>
    <p-footer>
      <p-button class="fl_cancel" (click)="htt()" label="取消"></p-button>
      <p-button (click)="yes()" label="确认"></p-button>

    </p-footer>
  </p-dialog>
</div>

<!-- 编辑弹窗 -->
<div>
  <p-dialog [(visible)]="display1" width="400">
    <p-header>
      修改周边信息
    </p-header>
    <div class="fl_contentM">
        <div class="fl_low">
            <label for="float-input">景点名称</label>
            <input id="float-input" type="text" size="30"  [(ngModel)]="changeRoute1.viewname" disabled=true  pInputText>
        </div>
        
      <div class="fl_low">
          <label for="float-input">酒店信息</label>
          <input id="float-input" type="text" size="30"  [(ngModel)]="changeRoute1.Hotel"   pInputText>
      </div>
      
      <div class="fl_low">
          <label for="float-input">当地特产</label>
          <input id="float-input" type="text" size="30" [(ngModel)]="changeRoute1.specialty" pInputText>
      </div>
    </div>
    <p-footer>
      <p-button class="fl_cancel" (click)="htt()" label="取消"></p-button>
      <p-button (click)="sure()" label="确认"></p-button>

    </p-footer>
  </p-dialog>
</div>

