<div class="ui-inputgroup">
  <input type="text" pInputText placeholder="输入景点">
  <button pButton type="button" icon="fa fa-superpowers" class="ui-button-warn"></button>
</div>
<table width="90%" class="table">
  <tr>
    <th>景点名称</th>
    <th>周边景点1</th>
    <th>周边景点2</th>
    <th>周边景点3</th>
    <th>操作</th>
  </tr>
  <tr>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>
      <button class="green button">修改</button>
      <button>删除</button>
    </td>
  </tr>
  <tr class="alter">
    <td>2</td>
    <td>2</td>
    <td>2</td>
    <td>2</td>
    <td>2</td>
  </tr>
  <tr >
    <td>2</td>
    <td>2</td>
    <td>2</td>
    <td>2</td>
    <td>2</td>
  </tr>
  <tr class="alter">
    <td>2</td>
    <td>2</td>
    <td>2</td>
    <td>2</td>
    <td>2</td>
  </tr>
  <tr >
    <td>
      <input type="text"> 
    </td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td>
    <button>添加</button>
    </td>
  </tr>
</table>
