<div class="ui-inputgroup">
  <input type="text" pInputText placeholder="输入景点">
  <button pButton type="button" icon="fa fa-superpowers" class="ui-button-warn"></button>
</div>
<!-- <table width="90%" class="table">
  <tr>
    <th>景点名称</th>
    <th>周边景点1</th>
    <th>周边景点2</th>
    <th>周边景点3</th>
    <th>操作</th>
  </tr>
  <tr>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>
      <button class="green button">修改</button>
      <button>删除</button>
    </td>
  </tr>
  <tr class="alter">
    <td>2</td>
    <td>2</td>
    <td>2</td>
    <td>2</td>
    <td>2</td>
  </tr>
  <tr >
    <td>2</td>
    <td>2</td>
    <td>2</td>
    <td>2</td>
    <td>2</td>
  </tr>
  <tr class="alter">
    <td>2</td>
    <td>2</td>
    <td>2</td>
    <td>2</td>
    <td>2</td>
  </tr>
  <tr >
    <td>
      <input type="text"> 
    </td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td><input type="text"></td>
    <td>
    <button>添加</button>
    </td>
  </tr>
</table> -->


<!-- 数据列表 -->
<p-dataTable [value]="dataList" selectionMode="multiple" emptyMessage="暂无数据">
  <p-column field="" header="序号" [style]="{'width':'50px','height':'30px'}">
    <ng-template let-col let-data="rowData" let-ri="rowIndex" pTemplate="body">
      <!-- <span>{{ri+1+(page.curPage-1)*page.pageSize}}</span> -->
      <span>{{ri+1}}</span>
    </ng-template>
  </p-column>
  <p-column field="viewname" header="景点名称"></p-column>
  <p-column field="nearby" header="周边信息"></p-column>
  
  <p-column header="操作">
    <ng-template let-col let-data="rowData" let-ri="rowIndex" pTemplate="body">
      <span (click)="delRoute(data.id)">删除</span>
      <!-- <button pButton type="button" label="删除"  style="margin-right: .25em" (click)="delUser(data.id)" ></button>
      <button pButton type="button" label="修改"  class="ui-button-secondary" (click)="editData(data)" ></button>
      <button pButton type="button" label="添加"  style="margin-right: .25em" ></button> -->
      <!-- <span (click)="aa()">修改</span> -->
    </ng-template>
  </p-column>
</p-dataTable>

<!-- 分页 -->
<p-paginator [rows]="page.pageSize" [totalRecords]="page.totalNum" (onPageChange)="paginate($event)"></p-paginator>