<div class="Content-Main">
    <form  action="" method="post" class="form-userInfo">
        <h1>个人信息</h1>
        <span class="text1">请在文本框中完善和修改您的个人信息：</span>
        <p>
        <div class="fileInputContainer">
            <input class="fileInput" id="" type="file" name="">
        </div>
        <label>
            <span>你的 姓名:</span>
            <input type="text"  name="name" placeholder="Your Full Name">
        </label>
        <label class="Main-sex">
            <span>你的 性别:</span>
            <input type="checkbox" class="man">男
            <input type="checkbox" class="women">女
        </label>
        <label>
            <span>你的 邮箱 :</span>
            <input type="email" name="email" placeholder="@.com">
        </label>
        <label>
            <span>你的 电话:</span>
            <input type="text" name="phone" placeholder="Please input 11 number">
        </label>
        <label>
            <span>Message:</span>
            <textarea id="message" name="message" placeholder="Your message to us"></textarea>
        </label>
        <label>
            <input type="button" class="button" value="提交">
        </label>
    </form>
</div>

