<div class="Content-Main">
    <form  action="" method="post" class="form-userInfo">
        <h1>个人信息</h1>
        <span class="text1">请在文本框中完善和修改您的个人信息：</span>
        <p>
        
        <label>
            <span>你的 真实姓名:</span>
            <input type="text"  name="name" placeholder="你的名字" [(ngModel)]="changeinf1.name" >
        </label>
        <label class="Main-sex">
            <span>你的 性别:</span>
            <input type="checkbox" class="man">男
            <input type="checkbox" class="women">女
        </label>
        <label>
            <span>你的 邮箱 :</span>
            <input type="email" name="email" placeholder="@.com"  [(ngModel)]="changeinf1.email">
        </label>
        <label>
            <span>你的 电话:</span>
            <input type="text" name="phone" placeholder="请输入你的电话"  [(ngModel)]="changeinf1.tel">
        </label>
        <label>
            <span>Message:</span>
            <textarea id="message" name="message" placeholder="个人介绍"  [(ngModel)]="changeinf1.Introduction"></textarea>
        </label>
        <label>
            <input type="button" class="button" value="提交"  (click)="sure()">
        </label>
    </form>
</div>

