<!-- <div class="continer">
  <img src="../../../assets/images/tourist-route/tourist-route.jpg" class="fl_bg" alt="背景图">
  <div class="title">
    <p class="title1">线路精选</p>
  </div>
  <div class="center">
    <div class="ui-inputgroup">
      <input type="text" pInputText placeholder="输入景点">
      <button pButton type="button" icon="fa fa-superpowers" class="ui-button-warn"></button>
    </div>
  </div>
  <div class="bottom">
    <div id="table">
      <div class="head">Heading</div>
      <div>
          <div class="image">I图片</div>
          <div style="float:left;">
              <div class="item">周边景点1</div>
              <div class="item">周边景点2</div>
              <div class="item">周边景点3</div>
          </div>
      </div>
  </div>
  </div>
</div> -->

<!-- 注册界面 -->

<div class="wrap">
  
      <div class="container" style="display: inline-block;position:relative;top:-150px; left:250px" >
          <h1>欢 迎 注 册</h1>
          
              <input type="text" placeholder="你的用户名（手机号）"/>
              <input type="text" placeholder="你的昵称"/>
  
  
              <input type="password" placeholder="你的密码" />
              <input type="password" placeholder="请再次输入你的密码" />
              <input type="submit" value="注册"/>
              <p class="change_link" align="center">
                  <span class="text">忘 记 密 码 ?</span>
                  <a href="login.html" class="to_login"> 返 回 登 录 页 面 </a>
              </p>
          
      </div>
      <ul>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
      </ul>
  </div>
  
