<div class="continer">
  <img src="../../../assets/images/tourist-route/tourist-route.jpg" class="fl_bg" alt="背景图">
  <div class="title">
    <p class="title1">线路精选</p>
  </div>
  <div class="center">
    <div class="ui-inputgroup">
      <input type="text" pInputText placeholder="输入景点">
      <button pButton type="button" icon="fa fa-superpowers" class="ui-button-warn"></button>
    </div>
  </div>
  <div class="bottom">
    <div id="table">
      <div class="head">Heading</div>
      <div>
          <div class="image">I图片</div>
          <div style="float:left;">
              <div class="item">周边景点1</div>
              <div class="item">周边景点2</div>
              <div class="item">周边景点3</div>
          </div>
      </div>
  </div>
  </div>
</div>