<!-- 信息提示 -->
<app-message></app-message>
<div class="container">
    <!-- 背景图片 -->
    <img src="../../../assets/images/login/aurora.jpg" class="fl_bg" alt="背景图">
    <!-- 导航栏 -->
    <div class="fl_nav">
        <ul>
            <li><a href="#">{{aa}}</a></li>
            <li><a href="#">链接二</a></li>
            <li><a href="#">链接一</a></li>
            <li><a href="#">首页</a></li>
        </ul>
    </div>
    
    <div class="fl_content clearfloat">
        <div class="fl_left fl_left_lvyou">
            <h1 class="fl_le_he">云岚&nbsp;&nbsp;&nbsp;&nbsp;旅游</h1>
            <h4 class="fl_le_he">Management system</h4>
            <p class="fl_le_p">世界与你的距离</p>
            <p class="fl_le_p1">其实很近。</p>
        </div>
        <div class='fl_right fl_right_login'>
            <div class="fl_login">
                <p class="fl_title">用户登陆</p>
                <div class="fl_input">
                    <span class="ui-float-label">
                        <input id="float-input" type="text" size="30" pInputText>
                        <label for="float-input">用户名</label>
                    </span>
                </div>
                <div class="fl_input">
                    <span class="ui-float-label">
                        <input id="float-input" type="text" size="30" pInputText>
                        <label for="float-input">密码</label>
                    </span>
                </div>
                <div class="fl_deng">
                    <p (click)="toHome()">登录</p>
                </div>
                <div class="fl_zhuce">
                    <p>注册</p>
                </div>
            </div>
        </div>
    </div>
    <!-- 主体内容 （登陆界面）-->
    <!-- <div class="main">
        <div class="sideleft">
            <h1>云岚&nbsp;&nbsp;&nbsp;&nbsp;旅游</h1>
            <h4>Management system</h4>
            <br /><br /><br />
            <p>世界与你的距离&nbsp;</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;其实很近。</p>
        </div> -->
    <!-- 右侧登陆界面 -->
    <!-- <div class="sideright">
            <div class="index">

                <p class="headline">用户登陆</p>
                <p class="astyle">用户名：</p>
                <span class="ui-float-label">
                    <input id="float-input" type="text" size="30" pInputText>
                    <label for="float-input">用户名</label>
                </span>
                <p class="astyle">密码：</p>
                <input type="text" [(ngModel)]="password" placeholder="请输入您的手机号">

                <input type="submit" value="登陆" name="login" routerLink="/public">
                <br />
                <p class="bstyle"><input type="checkbox" name="rempas" />  记住密码</p>
                <p class="cstyle">忘记密码</p>
                <br /><br />
                <p class="cstyle">没有账号？<a href="zhuce.html">立即注册</a></p>

            </div>
        </div>
    </div> -->
    <!-- <div style="width: 240px;">
        <span class="ui-float-label">
            <input id="float-input" type="text" size="30" pInputText>
            <label for="float-input">Username</label>
        </span>
    </div> -->
    <!-- 尾部 -->
    <div class="fl_footer">
        <ul class="clearfloat">
            <li><a href="#">关于我们</a></li>
            <li><a href="#">诚聘人才</a></li>
            <li><a href="#">联系商家</a></li>
            <li><a href="#">广告服务</a></li>
            <li><a href="#">浙江省宁波市鄞州区xx路666号xxx公司 Camping 2018-2010</a></li>
        </ul>
    </div>
</div>