<!-- <div class="continer">
  <img src="../../../assets/images/attractions-info/background-info.jpg" class="fl_bg" alt="背景图">
  <div class="ui-inputgroup">
    <input type="text" pInputText placeholder="输入景点">
    <button pButton type="button" icon="fa fa-superpowers" class="ui-button-warn"></button>
  </div>
  <div class="form-1">
    <div class="picture">
      <img src="../../../assets/images/attractions-info/Travel pictures1.jpg" width="300" height="200">
    </div>
    <div class="Spot_name">
      <p class="right_p1">景点名称:</p>
    </div>
    <div class="Sight_ticket_price">
      <p class="right_p2">景点票价:</p>
    </div>
    <div class="Attractions_location">
      <p class="right_p3">景点地点:</p>
    </div>
    <div class="Attractions">
      <p class="right_p4">景点介绍:</p>
    </div>
  </div>
  
</div> -->


<p-card header="Advanced Card" subheader="Subheader" [style]="{width: '360px'}" styleClass="ui-card-shadow">
  <p-header>
      <img src="Card" src="assets/showcase/images/usercard.png">
  </p-header>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
      quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>
  <p-footer>
      <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em"></button>
      <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary"></button>
  </p-footer>
</p-card>
