:host /deep/  .menu-long{
    .ui-panelmenu-header-link{
        position: relative;top:150px;left:300px;
        .ui-panelmenu-icon{
            position: absolute;
            right: 5px;
        }
    }
} 
.container {
    width: 500px;
    height: 50px;
    
    position: absolute;top:120px;left:650px;
}

.parent {
    width: 100%;
    height: 42px;
    top: 4px;
    position: relative;
}

.parent>input:first-of-type {
   
    width: 380px;
    height: 40px; 
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
}

.parent>input:first-of-type:focus {
    border: 1px solid #317ef3;
    padding-left: 10px;
}

.parent>input:last-of-type {
   
    width: 100px;
    height: 44px; 
    position: absolute;
    background: #317ef3;
    border: 1px solid #317ef3;
    color: #fff;
    font-size: 16px;
    outline: none;
}


.title{
    position: relative;top:140px;left:300px;
}
.recommend{
    position: absolute;top:400px;left:500px;
}
.Raiders{
    position: absolute;top:600px;left:800px;
}
