<!-- logo -->
<div class="title">
    <div class="fl_layout clearfloat">
        <div class="fl_left">
            <h1 >云岚旅游</h1>
        </div>
        <div class="fl_right">
            <button (click)="tologin()" >退出登录</button>
        </div>
    </div>
</div>
<div class="fl_title"></div>
<div class="clearfloat layout">
    <!-- 菜单 -->
    <div class="menu-long">
        <p-panelMenu [model]="items" [style]="{'width':'180px'}"></p-panelMenu>
    </div>
    <!-- 内容 -->
    <div class="fl_content">
        <p-scrollPanel [style]="{width: '100%', height: 'calc(100vh - 60px)'}">
                <router-outlet></router-outlet>
        </p-scrollPanel>
    </div>
</div>